.color_button{
    width: 40%;
    height:8vh;
    border-radius: 4px;
    border-color: blueviolet;
    border-width: 3px;
    border-style: solid;
    background: black;
    font-size: 1rem;
    font-weight: 600;
    color:white;
    margin-left: 30%;
    margin-top:80px;
    
}
.color_container{
    width:600px;
    height:35vh;
    margin-top:200px;
    background-color: #898989;
    border-radius: 4px;
    margin-left: 30%;
    
}
.count{
    position: absolute;
    margin-left: 16%;
    margin-top: 40px;
    font-size: 1.4rem;
    font-weight: 600;
    border: 3px black solid;
}
h1{
    text-align: center;
}