body{
    background: url("../Images/Background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
  
}
*{
    margin:0;
}

.pop_para{
    font-size: 1.6rem;
    font-weight: 900;
  margin-left: 30%;
  margin-top:15px;
  
}
.login{
    position: absolute;
    margin-left: 90%;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
.heading{
    font-size: 2rem;
    margin-top: 300px;
    color:white;
    font-weight: 700;
    margin-left: 20%;
}
.login_card{
    width: 500px;
    border-radius: 5px;
    background-color: whitesmoke;
    height: 350px;
    margin-top: 40px;
    margin-left: 30%;
    animation: login ease 0.8s;
}
@keyframes login{
    0%{
        transform : translateY(-90rem);
    }
    100%{
        transform : translateY(0);
    }
}
h1{
    position: absolute;
    margin-left: 20%;
}
.wrong{
    font-size: 2rem;
    margin-left: 90%;
}
.email{
    margin-left: 20%;
    margin-top: 74px;
    
}
.modall{
    position: fixed;
    display: none;
    z-index: -1;
  
    margin-left:20%;
} 
.label_email{
    margin-top: 50px;
    position: absolute;
    margin-left: -38%;

}
.password{
    margin-left: 20%;
    margin-top: 38px;
    
}
.label_password{
    margin-top: 10px;
    position: absolute;
    margin-left: -38%;

}
.login_2{
    margin-left: 20%;
    margin-top: 10px;
    outline:none;
    border: black 3px solid;
    width: 100px;
    height: 30px;
    font-weight: 700;
}